* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: rgb(233, 233, 233);
}

.wrapper {
	width: 600px;
	background-color: #fff;
	box-shadow: 0 0 10px #000;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    height: 200px;
    color: #fff;
    background-color: rgb(104, 155, 98);
    text-transform: uppercase;
}

.title p {
    margin-top: 10px;
}

.options {
    padding: 40px 20px;
}

label{
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
}

input, select {
    margin-bottom: 10px;
    padding: 10px 20px;
    width: 100%;
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
}

.count {
    display: block;
    margin: 10px auto;
    padding: 20px 10px;
    width: 60%;
    font-size: 24px;
    color: #fff;
    background-color: rgb(104, 155, 98);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
}

.count:hover {
    background-color: rgb(93, 141, 87);
}

.cost-info {
    display: none;
    margin-top: 10px;
    font-size: 20px;
}

.cost {
    font-weight: bold;
}

.error {
    font-size: 14px;
    color: rgb(199, 63, 29);
    text-align: center;
}